/* 

  Estilos Personalizados

  Aqui vamos a estilar todas las secciones, sus contenidos y el responsivo.


*/

body {
    background-color: var(--dark-color);
}

/* Header */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-medium);

    background-color: var(--green-color-transparent);
    backdrop-filter: 10px;
}

.navbar-menu {
    display: flex;
    color: var(--white-color);
    gap: var(--space-medium);
}

.navbar-menu a {
    font-size: 1.5rem;
    font-family: var(--font-primary);
    text-transform: uppercase;
}

.navbar-menu a:hover {
    color: var(--dark-color);
}

/* Hero */
.hero {
    height: 100vh;
    min-height: 100px;
    background-image: url(../Asset/images/hero-background.png);
    background-size: cover;
    background-position: center;
    color: var(--ligth-color);

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--dark-color);

    background-color: var(--dark-color-transparent);
}


.hero-content p {
    font-size: 1.5rem;
    margin-bottom: var(--space-small);
    text-align: center;
    color: var(--white-color);
}

.hero-actions {
    display: flex;
    gap: var(--space-small);
    margin-bottom: var(--space-medium);
    justify-content: center;
}

.hero-icons {
    display: flex;
    justify-content: center;
    gap: var(--space-normal);
}

/* Juegos */
.games {
    font-family: var(--font-primary);
    background-color: var(--dark-color);
    color: var(--white-color);
}

.games-header {
    margin-bottom: 1.5rem;
}

.games-title {
    padding: 1.5rem;
    color: var(--white-color);
}

.games-content {
    display: flex;
    align-items: center;
}

.games-thumbnails {
    width: 50%;
}

.thumbnail-item {
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
    filter: brightness(0.6);
    transition: filter 0.3s ease;
}

.thumbnail-item:hover {
    filter: brightness(1);
}

.thumbnails-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-medium);
}

.games-showcase {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-medium);
    font-size: 1.5rem;
    width: 50%;
}

.games-text {
    color: var(--white-color);
}

.games-info {
    text-align: center;
}

/* Trailers */
.media {
    background-color: var(--green-color)
}

.media-header {
    text-align: center;
    margin-bottom: var(--space-medium);;
}

.carucel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    justify-content: center;
    gap: var(--space-medium);
    margin-bottom: var(--space-medium);
}

.carousel-item {
    position: relative;
    cursor: pointer;
    border-radius: 1rem;
    overflow: hidden;
    transition: filter 0.3s ease;
}

.carousel-item:hover img {
    filter: brightness(1);
}

.carousel-item img {
    width: 100%;
    height: auto;
    filter: brightness(0.6);
    transition: filter 0.3s ease;
}

.carousel-item span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: var(--white-color);
}

.carousel-item:hover span {
    color: var(--green-color);
}

.carousel-controls {
    display: flex;
    justify-content: center;
}

.carousel-controls button {
    color: var(--dark-color);
    background-color: var(--green-color);
}

.carousel-controls button:hover {
    color: var(--white-color);
}

.carousel-controls span {
    font-size: 3rem;
}

/* Coleccionables */
.coleccionables {
    background-image: url("../Asset/images/fono-steve.png");
    background: linear-gradient(to right, #45ef1f, #b0eeff, #0dfc00);
}


.about > div {
  display: flex
  padding: var(--space-large)
}

.about-image,
.aout-content {
  width:50%;
}

.about-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image img {
  width: 240px;
  max-width: 300px;
  min-width: 200;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-content h2
.about-content p {
  color: var(--azulfuerte-color)
  }

 /* About */

.about {
  background:
    /* Capas */
    /* Layer 1 */ linear-gradient(90deg, rgba(19, 19, 47, 0.7) 0%, rgba(81, 22, 78, 0.7) 100%),
    /* Separa por comas */ /* Layer 2 */ url('../Asset/images/fono-steve.png' center center no-repeat;
  background-size: cover;
}

.about > div {
  display: flex;
  padding: var(--space-large);
}

.about-image,
.about-content {
  width: 50%;
}

.about-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image img {
  width: 100%;
  max-width: 240px;
  min-width: 200px;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-content h2,
.about-content p {
  color: var(--light-color);
}